### Color names

Dataset found on Kaggle: [https://www.kaggle.com/datasets/avi1023/color-names](https://www.kaggle.com/datasets/avi1023/color-names)

In [50]:
import pandas as pd

df = pd.read_csv('color_names.csv')
df.sample(5)

,Name,Hex (24 bit),Red (8 bit),Green (8 bit),Blue (8 bit),Hue (degrees),HSL.S (%),"HSL.L (%), HSV.S (%), HSV.V (%)"
671,Magenta (Pantone),#D0417E,208,65,126,334.0,60.0,54.0
570,Jonquil,#F4CA16,244,202,22,49.0,91.0,52.0
290,Dark gray (X11),#A9A9A9,169,169,169,0.0,0.0,66.0
1067,Sepia,#704214,112,66,20,30.0,70.0,26.0
932,Prussian blue,#003153,0,49,83,205.0,100.0,16.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             1298 non-null   object
 1   Hex (24 bit)                     1298 non-null   object
 2   Red (8 bit)                      1298 non-null   int64
 3   Green (8 bit)                    1298 non-null   int64
 4   Blue (8 bit)                     1298 non-null   int64
 5   Hue (degrees)                    1298 non-null   float64
 6   HSL.S (%)                        1298 non-null   float64
 7   HSL.L (%), HSV.S (%), HSV.V (%)  1298 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 81.2+ KB

In [52]:
# remove all cols except name and red, green, blue
df = df[['Name', 'Red (8 bit)', 'Green (8 bit)', 'Blue (8 bit)']]
df.sample(1)

            Name  Red (8 bit)  Green (8 bit)  Blue (8 bit)
1064  Seal brown           50             20            20

In [53]:
# Capitalize the first letter of each word in the name
df['Name'] = df['Name'].str.title()

In [54]:
# Check for duplicate columns
duplicate_columns = df.columns[df.columns.duplicated()].unique()
if len(duplicate_columns) > 0:
    print(f"Duplicate columns found: {duplicate_columns}")

In [ ]:
# convert the dataset to a map (key = name, value = [red, green, blue])
color_dict = df.set_index('Name').transpose().to_dict('list')

In [56]:
# convert the map to a json file
import json

with open('color_names.json', 'w') as f:
    json.dump(color_dict, f, indent=4)